{:source-paths ["src"]
 :dev-http {8000 "public"}
 :deps true
 :builds
 {:app
  {:target :esm
   :output-dir "public/js"
   :modules {:sci {:init-fn lang-clojure-eval.sci/init
                   :exports {evalString lang-clojure-eval.main/eval-string}}}}}}