{:source-paths ["src"]
 :dev-http {8000 "public"}
 :deps true
 :builds
 {:sci
  {:target :esm
   :output-dir "public/js"
   :modules {:sci {:exports {evalString lang-clojure-eval.main/eval-string
                             context lang-clojure-eval.main/context
                             isISOControl lang-clojure-eval.character/isISOControl
                             isLetter lang-clojure-eval.character/isLetter
                             digit lang-clojure-eval.character/digit
                             ;; parseInt causes ReferenceError if exported,
                             ;; but somehow works if it's not... why?
                             ;parseInt lang-clojure-eval.integer/parse-int
                             }}}}}}